<nav class="nav navbar-inverse" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav nav-pills">
      <li><a href="/">Home</a></li>
      <% if (userID === null || userID === undefined) { %>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
      <% } else { %>
      <li><a href="/urls">URLS</a></li>
      <li><a href="/urls/new">Add new...</a></li>
      <li><a href="#">Welcome back, <%= userID.username %></a></li>
      <li><a href="/logout">Logout</a></li>
      <% } %>
      
    </div>
  </div>
</nav>

<h1>Tin-Tiny</h1>