<nav class="nav navbar-inverse" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/urls">URLS</a></li>
      <li><a href="/urls/new">Add new...</a></li>
      <li>
        <form action="/login" method="POST">
          <label for="longURL">Sign in as:</label>
          <input type="text" name="username" placeholder="Who are you?" style="width: 300px;">
          <input type="submit" value="Submit">
        </form>
    </div>
  </div>
</nav>

<h1>Tin-Tiny</h1>