<html>

  <% include ../partials/_head.ejs %>

  <body>

    <% include ../partials/_header.ejs %>

    <p><%= shortURL %> - <%= longURL %> </p>
    
    <form method="POST" action="/urls/<%= shortURL %>">
      <input id="longURL" type="text" name="longURL" placeholder="https://" style="width: 300px;">
      <button class="btn btn-warning" aria-label="Center Align" name="edit" value="edit"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
    </form>

    <form method="POST" action="/urls/<%= shortURL %>/delete">
      <button class="btn btn-danger" aria-label="Center Align" name="delete" value="delete" onclick="if (confirm('Are you sure you want to delete this link?') == true) return true; else return false;"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    </form>
  </body>

</html>