<html>

  <% include ../partials/_head.ejs %>

  <body>
    <% include ../partials/_header.ejs %>
    
    <h2>Login:</h2>
    <div class="container">
      <form action="/login" method="POST">
        <div class="form-group">
          <label class="sr-only" for="email">Username or Email Address</label>
          <input class="form-control" name="emailOrUsername" type="text" placeholder="Username/Email" autofocus >
        </div>
        <div class="form-group">
          <label class="sr-only" for="password">Password: </label>
          <input class="form-control" name="password" type="password" placeholder="Password" >
        </div>
          <input class="btn btn-info"type="submit" value="Login">
      </form>

      <a href="/register"><button class="btn btn-success">Don't have an account? Register here!</button></a>
    </div>
    <% include ../partials/_footer.ejs %>

  </body>
</html>