<html>

  <% include ../partials/_head.ejs %>

  <body>
<!--      include ../partials/_header.ejs 
 -->
    <h2>Register:</h2>
    <form action="/register" method="POST">
      <label for="email">Username: </label>
      <input name="email" type="email" placeholder="what should we call you?" />
      <label for="password">Password: </label>
      <input name="password" type="password"/>
      <input class="btn btn-info"type="submit" value="Register">
    </form>
  </body>

</html>