<html>

  <% include ../partials/_head.ejs %>

  <body>
    <% include ../partials/_header.ejs %>

    <h2>Register:</h2>
    <div class="container">
      <form action="/register" method="POST">
        <div class="form-group">
          <label class="sr-only" for="username">Username</label>
          <input class="form-control" name="username" type="username" placeholder="Username" autofocus >
        </div>
        <div class="form-group">
          <label class="sr-only" for="email">Email Address</label>
          <input class="form-control" name="email" type="email" placeholder="Email Address" >
        </div>
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <input class="form-control" name="password" type="password" placeholder="Password" >
        </div>
        <input class="btn btn-info"type="submit" value="Register">
      </form>

      <a href="/login"><button class="btn btn-success">Already have an account? Login here!</button></a>
    </div>
  <% include ../partials/_footer.ejs %>

  </body>

</html>