<html>

  <% include ../partials/_head.ejs %>

  <body>
    <% include ../partials/_header.ejs %>
    <form action ="/urls" method="POST" style="margin: 0 150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="https://" style="width: 300px;">
      <input type="submit" value="Submit">
    </form>

  </body>

</html>